<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{title}}</title>
    <link href="style.css"/>
    <style rel="stylesheet">
    </style>
</head>
<body>
<!-- @formatter:off -->
<div class='main-song-content upper {{displaySettings.css}} {{css}}'>
    {{#sections}}
    <div class='{{css}}'>
        <div class="header">{{localName}}</div>
        <div class="section-content">
            {{#content.lines}}
            <div class='song-text-line {{css}}'>
                {{#chordToText}}
                <div class="song-chord-pair {{css}}">
                    <div class="song-chord"><a class='chord' href='chord://{{htmlChord}}'>{{htmlChord}}</a></div>
                    <div class="song-text content" style="">{{text}}</div>
                </div>
                {{/chordToText}}
            </div>
            {{/content.lines}}
        </div>
    </div>
    {{/sections}}
    {{^sections}}<div class="single-content content">{{filledSections}}</div>{{/sections}}
</div>
<!-- @formatter:on -->
</body>
</html>

